<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .titulo-azul{
            color:blue;
        }
        h1{
            color: hsl(201, 92%, 5%);
        }
    </style>
</head>
<body>
    <h1 class="titulo-azul">Pagina principal -home</h1>
    <h1>{{data}}</h1>
    <form action="post"></form>
    <a href="/empleados">empleados</a>
    <br><!--salto de linea-->
    <a href="/clases">clases</a>
    <br>
    <a href="/horarios">horarios</a>

</body>

</html>
